@import "../../styles/_var";

@keyframes fadein {
  0% { opacity:0; }
  100% { opacity:1; }
}

@keyframes fadeout {
  0% { opacity:1; }
  100% { opacity:0; }
}

.main-toolbar {
  background: #ffffff;
  padding-right: 0;
  height: 64px;
  padding-left: 16px;

  .user-button-container {
    height: 100%;
  }

  button.fullscreen-toggle {
    border-radius: 0;
    padding: 0;
    min-width: 50px;
    max-width: 50px;
    height: 100%;
  }

  button.quickpanel-toggle {
    border-radius: 0;
    padding: 0;
    min-width: 75px;
    max-width: 75px;
    height: 100%;
  }
}

.mat-sidenav.quickpanel {
  z-index: 100;
  width: 330px;
  min-width: 330px;
  max-width: 330px;
}

@media screen and (max-width: 959px) {
  .mat-sidenav.quickpanel {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
  }

  button.user-button {
    min-width: 72px;
  }
}

@media screen and (min-width: 960px) {
  .mat-sidenav-backdrop {
    z-index: 50 !important;
  }
}

.sidenav {
  width: $width__sidenav;
  max-width: $width__sidenav;
  background: $background-color__sidenav-list;
  overflow-x: hidden;
  z-index: $z-index__md-sidenav;
}

.content-container {
  height: 100%;
}

.main-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - #{$height__main-toolbar});
  position: relative;
}
